body, html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 5);
  grid-template-areas:
      "header1"
      "sidebar"
      "footer";
}

aside {
  grid-area: sidebar;
  background-color: #F7F7F7;
}

#header1 {
  grid-area: header1;
  background-color: #232161;
}
#header2 {
  grid-area: header2;
  background-color: #4B48D5;
}

main {
  grid-area: main;
  background-color: white;
}

footer {
  grid-area: footer;
  background-color: #232161;
}

@media only screen and (min-width: 900px) {
  body {
      margin: 0;
      display: grid;
      grid-template-columns: 20em auto;
      grid-template-rows: 10% 80% 10%;
      grid-template-areas:
          "header1 header2"
          "sidebar main"
          "sidebar footer";
  }
}

/* Sidebar */

.sidebar-heading {
  font-size: .7rem;
  text-transform: uppercase;
}

.bg-light-purple {
  background-color: #EEEEFB;
}